*{
    margin: 0;
    padding: 0;
}
.container0{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
 h1{
    color: white;
    font-size: 5rem;
    font-weight: 800;
}
h2{
    color: white;
    font-size: 3.5rem;
}

.container1{
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.sd1{
    width: 80%;
    display: flex;
    justify-content: center;
}
.sd2{
    margin-top: 145px;
}

.pre2{

    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container2{
    height: 90vh;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.div3{
    max-width: 600px;
}
.text{
    color: white;
    text-align: left;
    font-size: 1.7rem;
    line-height: 40px;
}
footer{
    background-color: black;

}
.footer{
    color: white;
    text-align: center;
    font-size: x-large;
    
}